{% extends 'base.html' %}
{% load static %}
{% block title %}Dieta wpływająca pozytywnie na kobiece hormony - Period Tracker App{% endblock %}
{% block content %}
    <div class="container mt-4">
        <header>
            <h1>Dieta wpływająca pozytywnie na kobiece hormony</h1>
        </header>
        <section>
            <p>Dieta dla hormonalnej równowagi: Jakie produkty wybierać?</p>
            <p>Dieta jest jednym z najważniejszych czynników wpływających na zdrowie hormonalne. To, co jemy, ma ogromny wpływ na produkcję hormonów oraz nasze ogólne samopoczucie. Oto kilka zaleceń, jak komponować dietę, by wspierała naszą równowagę hormonalną.</p>

            <ul>
                <li><strong>Kwasy tłuszczowe omega-3</strong><br> Tłuszcze omega-3, które znajdują się w rybach takich jak łosoś, makrela, a także w nasionach lnu, orzechach włoskich i oleju rzepakowym, pomagają regulować produkcję hormonów, w tym hormonów płciowych. Omega-3 działają także przeciwzapalnie, co może wspomagać zdrowie hormonalne.</li>
                <li><strong>Błonnik</strong><br> Błonnik pomaga w utrzymaniu równowagi hormonalnej, wspiera zdrowie jelit, a także pomaga w eliminacji nadmiaru estrogenów z organizmu. Warto spożywać pełnoziarniste produkty, warzywa, owoce i rośliny strączkowe, które są bogate w błonnik.</li>
                <li><strong>Witamina D</strong><br> Witamina D jest niezwykle ważna dla zdrowia hormonalnego, zwłaszcza w kontekście równowagi estrogenów i progesteronu. Źródła witaminy D to przede wszystkim tłuste ryby (łosoś, makrela), a także produkty wzbogacane witaminą D, takie jak niektóre mleka roślinne, jaja i grzyby.</li>
                <li><strong>Magnez</strong><br> Magnez wpływa na produkcję hormonów, a także pomaga w redukcji stresu. Zawierają go takie produkty jak migdały, nasiona dyni, szpinak, awokado i czarna czekolada. Magnez wspomaga również dobre samopoczucie, szczególnie w okresach zwiększonego napięcia i stresu.</li>
            </ul>
        </section>
    </div>
{% endblock %}
