{% extends 'base.html' %}
{% load static %}
{% block title %}Zdrowie kobiet podczas ciąży - Period Tracker App{% endblock %}
{% block content %}
    <div class="container mt-4">
        <header>
            <h1>Zdrowie kobiet podczas ciąży</h1>
        </header>
        <section>
            <p>Zdrowie kobiet w ciąży: Jak dbać o siebie i dziecko?</p>
            <p>Ciąża to wyjątkowy czas w życiu każdej kobiety, pełen emocji, zmian fizycznych i hormonalnych. Dbanie o zdrowie zarówno swoje, jak i dziecka, wymaga odpowiedniego podejścia, diety, aktywności fizycznej i odpoczynku. Oto kilka wskazówek, jak zadbać o siebie w tym szczególnym okresie.</p>

            <ul>
                <li><strong>Zrównoważona dieta</strong><br> Odpowiednia dieta w ciąży jest niezbędna do zapewnienia zarówno zdrowia matki, jak i prawidłowego rozwoju dziecka. Spożywaj pokarmy bogate w białko, żelazo, kwas foliowy, witaminę D i omega-3. Posiłki powinny być zróżnicowane, a w diecie powinny znaleźć się owoce, warzywa, pełnoziarniste produkty, białe mięso, ryby i nabiał.</li>
                <li><strong>Aktywność fizyczna</strong><br> Regularna, łagodna aktywność fizyczna jest korzystna zarówno dla zdrowia matki, jak i dziecka. Spacerowanie, pływanie czy joga dla kobiet w ciąży to świetne formy ćwiczeń, które pomagają utrzymać kondycję, zmniejszają stres i poprawiają samopoczucie.</li>
                <li><strong>Odpowiedni sen</strong><br> Ciąża może utrudniać znalezienie komfortowej pozycji do spania, ale sen ma kluczowe znaczenie dla zdrowia. Postaraj się wypoczywać, jak tylko możesz, odpoczywaj w ciągu dnia, a w nocy stwórz sobie sprzyjające warunki do snu.</li>
                <li><strong>Unikanie stresu</strong><br> W ciąży unikanie stresu jest bardzo ważne, ponieważ może on negatywnie wpływać na rozwój dziecka. Staraj się otaczać pozytywnymi ludźmi, zrelaksować przy książce czy medytacji. Spokojne chwile odpoczynku wpływają na obniżenie poziomu stresu.</li>
            </ul>
        </section>
    </div>
{% endblock %}
