{% extends 'base.html' %}
{% load static %}
{% block title %}Hormonalne zdrowie kobiet - Period Tracker App{% endblock %}
{% block content %}
    <div class="container mt-4">
        <header>
            <h1>Hormonalne zdrowie kobiet</h1>
        </header>
        <section>
            <p>Hormonalne zdrowie kobiet: Jak dbać o równowagę hormonalną?</p>
            <p>Hormony pełnią kluczową rolę w organizmach kobiet, wpływając na cykl menstruacyjny, nastrój, poziom energii, a także wygląd skóry i włosów. Zrównoważona produkcja hormonów jest niezbędna dla dobrego samopoczucia i zdrowia, dlatego warto poznać kilka sposobów, jak dbać o równowagę hormonalną.</p>
            <ul>
                <li><strong>Regularna aktywność fizyczna</strong><br> Regularne ćwiczenia fizyczne pomagają utrzymać hormony w równowadze. Aktywność fizyczna zwiększa produkcję endorfin, które poprawiają nastrój, a także wspomaga metabolizm, co może wpływać na równowagę hormonalną. Codzienne spacery, joga czy pływanie to świetne sposoby na poprawę zdrowia hormonalnego.</li>
                <li><strong>Zbilansowana dieta</strong><br> Jednym z kluczowych elementów w utrzymaniu zdrowia hormonalnego jest odpowiednia dieta. Skup się na spożywaniu zdrowych tłuszczów (np. awokado, orzechy, nasiona), pełnoziarnistych produktów, warzyw i owoców. Warto także zwrócić uwagę na witaminy i minerały, takie jak witamina D, witaminy z grupy B i magnez, które wspierają produkcję hormonów.</li>
                <li><strong>Zarządzanie stresem</strong><br> Stres negatywnie wpływa na równowagę hormonalną, dlatego ważne jest, by znaleźć czas na relaks. Medytacja, głębokie oddychanie, czy relaksujące kąpiele to proste, ale skuteczne techniki, które pomagają zredukować poziom stresu i utrzymać hormony w równowadze.</li>
                <li><strong>Odpowiedni sen</strong><br> Sen jest niezbędny do regeneracji organizmu i utrzymania zdrowia hormonalnego. Staraj się spać 7-9 godzin dziennie. Odpowiednia ilość snu wspomaga produkcję hormonów odpowiedzialnych za energię, metabolizm oraz nastrój.</li>
            </ul>
        </section>
    </div>
{% endblock %}
