{% extends 'base.html' %}
{% load static %}
{% block title %}Knowledge Base - Period Tracker App{% endblock %}
{% block content %}
    <div class="container mt-4">
        <header>
            <h1>Knowledge Base - Period Tracker App</h1>
        </header>
        <p><a href="{% url 'hormonal_health' %}">Hormonalne zdrowie kobiet</a></p>
        <p><a href="{% url 'diet_impact' %}">Dieta wpływająca pozytywnie na kobiece hormony</a></p>
        <p><a href="{% url 'self_care_menstruation' %}">Zaopiekuj się sobą podczas miesiączki</a></p>
        <p><a href="{% url 'health_during_pregnancy' %}">Zdrowie kobiet podczas ciąży</a></p>
    </div>
{% endblock %}
