{% extends 'base.html' %}
{% load static %}
{% block title %}Zaopiekuj się sobą podczas miesiączki - Period Tracker App{% endblock %}
{% block content %}
    <div class="container mt-4">
        <header>
            <h1>Zaopiekuj się sobą podczas miesiączki</h1>
        </header>
        <section>
            <p>Pielęgnacja siebie podczas miesiączki: Jak zadbać o siebie, by czuć się lepiej?</p>
            <p>Miesiączka to czas, w którym organizm kobiety przechodzi przez naturalne zmiany hormonalne. Może to powodować pewne niedogodności, takie jak bóle brzucha, wzdęcia, zmiany nastroju czy uczucie zmęczenia. Istnieje jednak wiele sposobów, by zadbać o siebie i poprawić samopoczucie w tym okresie.</p>

            <ul>
                <li><strong>Ciepło na brzuch</strong><br> Ciepło działa rozluźniająco na mięśnie macicy, co może pomóc złagodzić ból menstruacyjny. Spróbuj zastosować ciepły okład na brzuch lub zrelaksuj się w ciepłej kąpieli. To proste, ale skuteczne rozwiązanie na złagodzenie bólu.</li>
                <li><strong>Lekkie ćwiczenia</strong><br> Choć może wydawać się, że w czasie miesiączki lepiej odpoczywać, łagodne ćwiczenia mogą przynieść ulgę. Joga, spacery czy pływanie pomagają poprawić krążenie, zredukować stres i zwiększyć poziom energii.</li>
                <li><strong>Odpowiednia dieta</strong><br> Podczas miesiączki warto sięgnąć po pokarmy bogate w magnez, witaminy B6 i omega-3, które wspierają organizm w tym okresie. Zielone warzywa, orzechy, nasiona, owoce i ryby to doskonałe źródła tych składników odżywczych. Unikaj nadmiaru kofeiny i soli, które mogą nasilać objawy.</li>
                <li><strong>Relaksacja</strong><br> Stres może pogłębiać dolegliwości menstruacyjne, dlatego warto znaleźć czas na odpoczynek i relaks. Medytacja, głębokie oddychanie lub ciepłe kąpiele mogą pomóc w zmniejszeniu napięcia i poprawieniu samopoczucia.</li>
            </ul>
        </section>
    </div>
{% endblock %}
