{% extends 'base.html' %}
{% load static %}
{% block title %}Statistics - Period Tracker App{% endblock %}
{% block content %}
    <div class="container mt-4">
        <header>
            <h1>Statistics - Period Tracker App</h1>
        </header>

        {% if has_data %}
            <ul>
                {% for stat in statistics %}
                    <li>
                        Długość cyklu: {{ stat.cycle_length }} dni,
                        Długość miesiączki: {{ stat.period_length }} dni,
                        Średni poziom bólu: {{ stat.average_pain_level }},
                        Objawy: {{ stat.symptoms }},
                        Nastrój: {{ stat.mood }},
                        Alergie: {{ stat.allergies|default:"Brak" }},
                        Leki: {{ stat.medications|default:"Brak" }},
                        Stan zdrowia: {{ stat.health_conditions|default:"Brak" }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No data</p>
        {% endif %}
    </div>
{% endblock %}